* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Open Sans', Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    color: #161616;
}
h1 {
    font-weight: 700;
    margin-bottom: 0px;
}

p {
    line-height: 200%;
}

header {
    background-color: #E74C3C;
    padding: 10px;
    position: relative;
}
[id="header-content"] {
    max-width:900px;
    margin:0 auto;
}
header p {
    line-height: 0%;
    font-style: italic;
}
.logo {
    line-height: 80%;
    padding: 30px;
    background-color: #2C3E50;
    display: inline-block;
    border-radius: 3px;
    color: #ECF0F1;
    text-shadow: 1px 2px 0px #111;
    box-shadow: inset 2px 2px 4px #1B2530, inset -2px -2px 4px #1B2530;
    vertical-align: middle;
}
.logo p {
    margin-top: 24px;
}
nav {
    margin-top: 76px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
}
nav li {
    float:left;
    list-style: none;
    background-color: white;
    border-radius: 3px 3px 0 0;
    margin: 0 10px 0 10px;
    padding: 4px 15px 4px 15px;
    font-weight: 700;
    transition: all 0.3s ease;
}
nav li:hover {
    background-color: #2C3E50;
    color: #ECF0F1;
}

main {
    margin: 20px 20px 20px 60px;
    position: relative;
    width: 65%%;
}

main ul {
    margin: 10px 0 10px 40px;
}

main li {
    line-height: 160%;
}

h2 {
    background-color: #2C3E50;
    color: #ECF0F1;
    border-radius: 4px;
    padding: 3px 30px 6px 30px;
    display: inline-block;
    margin: 15px 5px 10px 50px;
    text-shadow: 1px 2px 0px #111;
}

table {
    margin: 10px;
    background-color: #ECF0F1;
}

table th {
    padding: 10px;
}

table td {
    padding: 5px 10px 5px 10px;
}

.row {
    background-color: #D3DCDE;
}

.fig-border {
    border: 1px solid #0B0B0B;
    display: inline-block;
    margin: 10px;
}

figure {
    /*border: 1px solid black;*/
    display: table;
    padding: 3px;
    margin: 3px;
    float: left;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}

hr {
    width: 370px;
    height: 22px;
    f
}

footer {
    background-color: #E74C3C;
    text-align: center;
}


@media (max-width:820px) {
    .logo {
        background-color:transparent;
        box-shadow:none;
    }
    header {
        background-color: #2C3E50;
    }
}

@media (max-width:600px) {

}

